* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #fffef9;

  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: 16px;
  line-height: 24px;
}

input,
button {
  border: none;
  outline: none;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
